In [1]:
import pandas as pd
df=pd.read_csv("breast-cancer.csv")
df

,age,mefalsepause,tumor-size,inv-falsedes,falsede-caps,deg-malig,breast,breast-quad,irradiat,class
0,40-49,premefalse,15-19,0-2,True,3,right,left_up,False,recurrence-events
1,50-59,ge40,15-19,0-2,False,1,right,central,False,false-recurrence-events
2,50-59,ge40,35-39,0-2,False,2,left,left_low,False,recurrence-events
3,40-49,premefalse,35-39,0-2,True,3,right,left_low,True,false-recurrence-events
4,40-49,premefalse,30-34,3-5,True,2,left,right_up,False,recurrence-events
...,...,...,...,...,...,...,...,...,...,...
267,50-59,ge40,30-34,6-8,True,2,left,left_low,False,false-recurrence-events
268,50-59,premefalse,25-29,3-5,True,2,left,left_low,True,false-recurrence-events
269,30-39,premefalse,30-34,6-8,True,2,right,right_up,False,false-recurrence-events
270,50-59,premefalse,15-19,0-2,False,2,right,left_low,False,false-recurrence-events
271,50-59,ge40,40-44,0-2,False,3,left,right_up,False,false-recurrence-events

In [2]:
df.isnull().sum()

age             0
mefalsepause    0
tumor-size      0
inv-falsedes    0
falsede-caps    8
deg-malig       0
breast          0
breast-quad     1
irradiat        0
class           0
dtype: int64

In [3]:
df=df.dropna()
df.isnull().sum()

age             0
mefalsepause    0
tumor-size      0
inv-falsedes    0
falsede-caps    0
deg-malig       0
breast          0
breast-quad     0
irradiat        0
class           0
dtype: int64

In [4]:
df.dtypes

age             object
mefalsepause    object
tumor-size      object
inv-falsedes    object
falsede-caps    object
deg-malig        int64
breast          object
breast-quad     object
irradiat          bool
class           object
dtype: object

In [6]:
cclum=[]
for i in df.columns:
    if df[i].dtypes=="object" or df[i].dtypes=="bool":
        cclum.append(i)
print(cclum)
from sklearn import preprocessing
le = preprocessing.LabelEncoder()   
df[cclum]=df[cclum].apply(le.fit_transform)
df
#convert boolean to integer

['age', 'mefalsepause', 'tumor-size', 'inv-falsedes', 'falsede-caps', 'breast', 'breast-quad', 'irradiat', 'class']

C:\Users\Prachi\AppData\Local\Temp\ipykernel_24492\2108805769.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cclum]=df[cclum].apply(le.fit_transform)

,age,mefalsepause,tumor-size,inv-falsedes,falsede-caps,deg-malig,breast,breast-quad,irradiat,class
0,2,2,2,0,1,3,1,2,0,1
1,3,0,2,0,0,1,1,0,0,0
2,3,0,6,0,0,2,0,1,0,1
3,2,2,6,0,1,3,1,1,1,0
4,2,2,5,4,1,2,0,4,0,1
...,...,...,...,...,...,...,...,...,...,...
267,3,0,5,5,1,2,0,1,0,0
268,3,2,4,4,1,2,0,1,1,0
269,1,2,5,5,1,2,1,4,0,0
270,3,2,2,0,0,2,1,1,0,0
271,3,0,7,0,0,3,0,4,0,0

In [7]:
x=df.drop(["class"],axis=1)
y=df["class"]
x=x.to_numpy()
x.shape

(263, 9)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(210, 9) (53, 9) (210,) (53,)

In [9]:
from sklearn.svm import SVC
clf=SVC()
clf.fit(X_train,y_train)

SVC()

In [10]:
y_pred=clf.predict(X_test)
y_pred

array([0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0])

In [11]:
from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[32  9]
 [ 7  5]]
              precision    recall  f1-score   support

           0       0.82      0.78      0.80        41
           1       0.36      0.42      0.38        12

    accuracy                           0.70        53
   macro avg       0.59      0.60      0.59        53
weighted avg       0.72      0.70      0.71        53

In [12]:
clf.predict([[1.2,1.3,4.1,1.5,1.1,4.5,5.1,4.5,1.1]])

array([0])

In [13]:
import pickle
pickle.dump(clf,open("breast-cancer.pk1","wb"))