In [4]:
def scope_test():
    def do_local():
        spam = "local spam"
    
    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"
        
    def do_global():
        global spam
        spam = "global spam"
        
    spam = "test spam"
    do_local()
    print("After local assignment:", spam)
    do_nonlocal()
    print("After nonlocal assignment:", spam)
    do_global()
    print("After global assignment:", spam)
    
scope_test()
print("In global scope:", spam)

After local assignment: test spam
After nonlocal assignment: nonlocal spam
After global assignment: nonlocal spam
In global scope: global spam

In [5]:
class MyClass:
    """A simple example class"""
    i = 12345
    
    def f(self):
        return 'hello world'

In [6]:
class Complex:
    def __init__(self, realpart, imagpart):
        self.r = realpart
        self.i = imagpart
x = Complex(3.0, -4.5)
x.r, x.i

(3.0, -4.5)

In [8]:
x.counter = 1
while x.counter < 10:
    x.counter = x.counter * 3
print(x.counter)
del x.counter

27

In [10]:
class Warehouse:
    purpose = 'storage'
    region = 'west'

w1 = Warehouse()
print(w1.purpose, w1.region)

w2 = Warehouse()
w2.region = 'east'
print(w2.purpose, w2.region)

storage west
storage east

In [11]:
def f1(self, x, y):
    return min(x, x+y)
class C:
    f = f1
    
    def g(self):
        return 'hello world'
    
    h = g

In [12]:
class Bag:
    def __init__(self):
        self.data = []
        
    def add(self, x):
        self.data.append(x)
    
    def addtwice(self, x):
        self.add(x)
        self.add(x)

In [14]:
class Mapping:
    def __init__(self, iterable):
        self.items_list = []
        self.__update(iterable)
        
    def update(self, iterable):
        for item in iterable:
            self.items_list.append(item)
    __update = update
    
class MappingSubclass(Mapping):
    
    def update(self, keys, values):
        for item in zip(keys, values):
            self.items_list.append(item)

In [18]:
from dataclasses import dataclass

@dataclass
class Employee:
    name: str
    dept: str
    salary: int

In [19]:
john = Employee('john', 'computer lab', 1000)
john.dept

'computer lab'

In [20]:
john.salary

1000

In [23]:
for element in [1, 2, 3]:
    print(element)
for element in (1, 2, 3):
    print(element)
for key in {'one':1, 'two':2}:
    print(key)
for char in "123":
    print(char)

1
2
3
1
2
3
one
two
1
2
3

In [24]:
class Reverse:
    """Iterator for looping over a sequence backwards."""
    def __init__(self, data):
        self.data = data
        self.index = len(data)
        
    def __iter__(self):
        return self
    def __next__(self):
        if self.index == 0:
            raise StopIteration
        self.index = self.index - 1
        return self.data[self.index]

In [26]:
rev = Reverse('shlok')
iter(rev)
for char in rev:
    print(char)

k
o
l
h
s

In [27]:
sum(i*i for i in range(10))

285

In [29]:
xvec = [10, 20, 30]
yvec = [7, 5, 3]
sum(x*y for x,y in zip(xver,yvec))

260

In [1]:
import os
os.getcwd()

'C:\\Users\\Prachi'

In [3]:
import os
dir(os)

['DirEntry',
 'F_OK',
 'GenericAlias',
 'Mapping',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_AddedDllDirectory',
 '_Environ',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_check_methods',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_walk',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'add_dll_directory',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'unsetenv',
 'urandom',
 'utime',
 'waitpid',
 'waitstatus_to_exitcode',
 'walk',
 'write']

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('fgdgdfgdfv',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="customer"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="customer"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
     print(x)

('customer',)
('customers',)

In [21]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="customer"
)
mycursor = mydb.cursor()
    
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customer',)
('customers',)

In [26]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="customer"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [32]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = [
    ('Peter', 'Lowstreet 4'),
 ('Amy', 'Apple st 652'),
 ('Hannah', 'Mountain 21'),
 ('Michael', 'Valley 345'),
 ('Sandy', 'Ocean blvd 2'),
 ('Betty', 'Green Grass 1'),
 ('Richard', 'Sky st 331'),
 ('Susan', 'One way 98'),
 ('Vicky', 'Yellow Garden 2'),
 ('Ben', 'Park Lane 38'),
 ('William', 'Central st 954'),
 ('Chuck', 'Main Road 989'),
 ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record was inserted.")

13 record was inserted.

In [34]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

sql = 'INSERT INTO customer (name, address) VALUES (%s, %s)'
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 0

In [35]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FrOM customer")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('', '', 0)
('', 'highway', 0)
('Amy', 'Apple st 652', 0)
('Ben', 'Park Lane 38', 0)
('Betty', 'Green Grass 1', 0)
('Chuck', 'Main Road 989', 0)
('Hannah', 'Mountain 21', 0)
('Michael', 'Valley 345', 0)
('Michelle', 'Blue Village', 0)
('Peter', 'Lowstreet 4', 0)
('Richard', 'Sky st 331', 0)
('Sandy', 'Ocean blvd 2', 0)
('Susan', 'One way 98', 0)
('Vicky', 'Yellow Garden 2', 0)
('Viola', 'Sideway 1633', 0)
('William', 'Central st 954', 0)

In [38]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('', '')
('', 'highway')
('Amy', 'Apple st 652')
('Ben', 'Park Lane 38')
('Betty', 'Green Grass 1')
('Chuck', 'Main Road 989')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Michelle', 'Blue Village')
('Peter', 'Lowstreet 4')
('Richard', 'Sky st 331')
('Sandy', 'Ocean blvd 2')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Viola', 'Sideway 1633')
('William', 'Central st 954')

In [43]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")


myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21')

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = 'Blue Village'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Michelle', 'Blue Village')

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)
mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21')
('John', 'Highway 21')

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="customer"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Blue Village", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Michelle', 'Blue Village')

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customer ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('', '', 0)
('', 'highway', 0)
('Amy', 'Apple st 652', 0)
('Ben', 'Park Lane 38', 0)
('Betty', 'Green Grass 1', 0)
('Chuck', 'Main Road 989', 0)
('Hannah', 'Mountain 21', 0)
('Michael', 'Valley 345', 0)
('Michelle', 'Blue Village', 0)
('Peter', 'Lowstreet 4', 0)
('Richard', 'Sky st 331', 0)
('Sandy', 'Ocean blvd 2', 0)
('Susan', 'One way 98', 0)
('Vicky', 'Yellow Garden 2', 0)
('Viola', 'Sideway 1633', 0)
('William', 'Central st 954', 0)

In [24]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Michelle', 'Blue Village')
('John', 'Highway 21')
('John', 'Highway 21')

In [25]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

In [26]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="customer"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

In [53]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="customer"
)

mycursor = mydb.cursor()

sql = "UPDATE customer SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

In [63]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = [
    ('Peter', 'Lowstreet 4'),
 ('Amy', 'Apple st 652'),
 ('Hannah', 'Mountain 21'),
 ('Michael', 'Valley 345'),
 ('Sandy', 'Ocean blvd 2'),
 ('Betty', 'Green Grass 1'),
 ('Richard', 'Sky st 331'),
 ('Susan', 'One way 98'),
 ('Vicky', 'Yellow Garden 2'),
 ('Ben', 'Park Lane 38'),
 ('William', 'Central st 954'),
 ('Chuck', 'Main Road 989'),
 ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record was inserted.")

13 record was inserted.

In [64]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="customer"
)

mycursor = mydb.cursor()

sql = "UPDATE customer SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

In [65]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="customer"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customer LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 0, 'Apple st 652')
('Ben', 0, 'Park Lane 38')
('Betty', 0, 'Green Grass 1')
('Chuck', 0, 'Main Road 989')
('Hannah', 0, 'Mountain 21')

In [67]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customer LIMIT 5 OFFSET 2 ")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Betty', 0, 'Green Grass 1')
('Chuck', 0, 'Main Road 989')
('Hannah', 0, 'Mountain 21')
('Michael', 0, 'Valley 345')
('Peter', 0, 'Lowstreet 4')

In [100]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

"SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Amy', 'Chocolate Heaven')
('Hannah', 'Chocolate Heaven')
('JK', 'Chocolate Heaven')
('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="customer"
)

mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.favourite = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Amy', 'Chocolate Heaven')
('Hannah', 'Chocolate Heaven')
('JK', 'Testy Lemons')
('John', None)
('Peter', None)