In [3]:
import pymongo

In [10]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")  #default localhost of  MongoDB

mydb = myclient["customers"]

In [12]:
import pymongo

myclient = pymongo.MongoClient('mongodb://localhost:27017/')

mydb = myclient['mydatabase']

mycol = mydb["customers"]

print(mydb.list_collection_names())

['customers']

In [11]:
import pymongo

myclient = pymongo.MongoClient('mongodb://localhost:27017/')

print(myclient.list_database_names())

['admin', 'config', 'local', 'myclient', 'mydatabase']

In [8]:
import pymongo

myclient = pymongo.MongoClient('mongodb://localhost:27017/')


dblist = myclient.list_database_names() 

if "mydatabase" in dblist:
    
    print("The database exists.")

The database exists.

In [13]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [14]:
mydict = { "name": "Peter", "address": "Lowstreet 27"}

x = mycol.insert_one(mydict)

print(x.inserted_id)

64d07e99428935ad21a2c6fd

In [16]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
    
    { "name": "Amy", "address": "Apple st 652"},
    { "name": "Hannah", "address": "Mountain 21"},
    { "name": "Micheal", "address": "Valley 345"},
    { "name": "Hannah", "address": "Mountain 21"},
    { "name": "Sandy", "address": "Ocean blvd 2"},
    { "name": "Betty", "address": "Green Grass 1"},
    { "name": "Richard", "address": "Sky st 331"},i
    { "name": "Susan", "address": "one way 98"},
    { "name": "Vicky", "address": "Yellow Garden 2"},
    { "name": "Ben", "address": "Park Lane 38"},
    { "name": "William", "address": "Central st 954"},
    { "name": "Chuck", "address": "Main Road 989"},
    { "name": "Viola", "address": "Sideway 1633"},
]

x = mycol.insert_many(mylist)

print(x.inserted_ids)

[ObjectId('64d081da428935ad21a2c6ff'), ObjectId('64d081da428935ad21a2c700'), ObjectId('64d081da428935ad21a2c701'), ObjectId('64d081da428935ad21a2c702'), ObjectId('64d081da428935ad21a2c703'), ObjectId('64d081da428935ad21a2c704'), ObjectId('64d081da428935ad21a2c705'), ObjectId('64d081da428935ad21a2c706'), ObjectId('64d081da428935ad21a2c707'), ObjectId('64d081da428935ad21a2c708'), ObjectId('64d081da428935ad21a2c709'), ObjectId('64d081da428935ad21a2c70a'), ObjectId('64d081da428935ad21a2c70b')]

In [19]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
    
    { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [22]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('64d07977428935ad21a2c6f4'), 'name': 'John', 'address': 'Highway 37'}

In [23]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find():
    print(x)

{'_id': ObjectId('64d07977428935ad21a2c6f4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07c42428935ad21a2c6f7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07d53428935ad21a2c6fc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07e99428935ad21a2c6fd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('64d081da428935ad21a2c6ff'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64d081da428935ad21a2c700'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d081da428935ad21a2c701'), 'name': 'Micheal', 'address': 'Valley 345'}
{'_id': ObjectId('64d081da428935ad21a2c702'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d081da428935ad21a2c703'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d081da428935ad21a2c704'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d081da428935ad21a2c705'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d081da428935ad21a2c706'), 'name': 'Susan', 'address': 'one way 98'}
{'_id': ObjectId('64d081da428935ad21a2c707'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d081da428935ad21a2c708'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d081da428935ad21a2c709'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64d081da428935ad21a2c70a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64d081da428935ad21a2c70b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [25]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Micheal', 'address': 'Valley 345'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'one way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [26]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "address": 0}):
    print(x)

{'_id': ObjectId('64d07977428935ad21a2c6f4'), 'name': 'John'}
{'_id': ObjectId('64d07c42428935ad21a2c6f7'), 'name': 'John'}
{'_id': ObjectId('64d07d53428935ad21a2c6fc'), 'name': 'John'}
{'_id': ObjectId('64d07e99428935ad21a2c6fd'), 'name': 'Peter'}
{'_id': ObjectId('64d081da428935ad21a2c6ff'), 'name': 'Amy'}
{'_id': ObjectId('64d081da428935ad21a2c700'), 'name': 'Hannah'}
{'_id': ObjectId('64d081da428935ad21a2c701'), 'name': 'Micheal'}
{'_id': ObjectId('64d081da428935ad21a2c702'), 'name': 'Hannah'}
{'_id': ObjectId('64d081da428935ad21a2c703'), 'name': 'Sandy'}
{'_id': ObjectId('64d081da428935ad21a2c704'), 'name': 'Betty'}
{'_id': ObjectId('64d081da428935ad21a2c705'), 'name': 'Richard'}
{'_id': ObjectId('64d081da428935ad21a2c706'), 'name': 'Susan'}
{'_id': ObjectId('64d081da428935ad21a2c707'), 'name': 'Vicky'}
{'_id': ObjectId('64d081da428935ad21a2c708'), 'name': 'Ben'}
{'_id': ObjectId('64d081da428935ad21a2c709'), 'name': 'William'}
{'_id': ObjectId('64d081da428935ad21a2c70a'), 'name': 'Chuck'}
{'_id': ObjectId('64d081da428935ad21a2c70b'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [27]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('64d081da428935ad21a2c708'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [28]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": {"$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('64d081da428935ad21a2c701'), 'name': 'Micheal', 'address': 'Valley 345'}
{'_id': ObjectId('64d081da428935ad21a2c705'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d081da428935ad21a2c706'), 'name': 'Susan', 'address': 'one way 98'}
{'_id': ObjectId('64d081da428935ad21a2c707'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d081da428935ad21a2c70b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [30]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": {"$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('64d081da428935ad21a2c705'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d081da428935ad21a2c70b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [31]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('64d081da428935ad21a2c6ff'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64d081da428935ad21a2c708'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d081da428935ad21a2c704'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d081da428935ad21a2c70a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64d081da428935ad21a2c700'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d081da428935ad21a2c702'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d07977428935ad21a2c6f4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07c42428935ad21a2c6f7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07d53428935ad21a2c6fc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64d081da428935ad21a2c701'), 'name': 'Micheal', 'address': 'Valley 345'}
{'_id': ObjectId('64d07e99428935ad21a2c6fd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('64d081da428935ad21a2c705'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d081da428935ad21a2c703'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d081da428935ad21a2c706'), 'name': 'Susan', 'address': 'one way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64d081da428935ad21a2c707'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d081da428935ad21a2c70b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d081da428935ad21a2c709'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [33]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('64d081da428935ad21a2c709'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64d081da428935ad21a2c70b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d081da428935ad21a2c707'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d081da428935ad21a2c706'), 'name': 'Susan', 'address': 'one way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64d081da428935ad21a2c703'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d081da428935ad21a2c705'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d07e99428935ad21a2c6fd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('64d081da428935ad21a2c701'), 'name': 'Micheal', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64d07977428935ad21a2c6f4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07c42428935ad21a2c6f7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07d53428935ad21a2c6fc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d081da428935ad21a2c700'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d081da428935ad21a2c702'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d081da428935ad21a2c70a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64d081da428935ad21a2c704'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d081da428935ad21a2c708'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d081da428935ad21a2c6ff'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [34]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" }}

mycol.update_one(myquery, newvalues)

for x in mycol.find():
    print(x)

{'_id': ObjectId('64d07977428935ad21a2c6f4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07c42428935ad21a2c6f7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07d53428935ad21a2c6fc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07e99428935ad21a2c6fd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('64d081da428935ad21a2c6ff'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64d081da428935ad21a2c700'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d081da428935ad21a2c701'), 'name': 'Micheal', 'address': 'Canyon 123'}
{'_id': ObjectId('64d081da428935ad21a2c702'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d081da428935ad21a2c703'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d081da428935ad21a2c704'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d081da428935ad21a2c705'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d081da428935ad21a2c706'), 'name': 'Susan', 'address': 'one way 98'}
{'_id': ObjectId('64d081da428935ad21a2c707'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d081da428935ad21a2c708'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d081da428935ad21a2c709'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64d081da428935ad21a2c70a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64d081da428935ad21a2c70b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [35]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

4 documents updated.

In [38]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myresult = mycol.find().limit(5)

for x in myresult:
  print(x)

{'_id': ObjectId('64d07977428935ad21a2c6f4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07c42428935ad21a2c6f7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07d53428935ad21a2c6fc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07e99428935ad21a2c6fd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('64d081da428935ad21a2c6ff'), 'name': 'Amy', 'address': 'Apple st 652'}

In [42]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myresult = mycol.find().limit(8)

for x in myresult:
    print(x)

{'_id': ObjectId('64d07977428935ad21a2c6f4'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07c42428935ad21a2c6f7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07d53428935ad21a2c6fc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d07e99428935ad21a2c6fd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('64d081da428935ad21a2c6ff'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64d081da428935ad21a2c700'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d081da428935ad21a2c701'), 'name': 'Micheal', 'address': 'Canyon 123'}
{'_id': ObjectId('64d081da428935ad21a2c702'), 'name': 'Hannah', 'address': 'Mountain 21'}

In [44]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

In [45]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

TypeError: 'DeleteResult' object is not iterable